include requirements/*.txt
include grokcso/VERSION
include grokcso/.mim/model-index.yml
include grokcso/.mim/demo/*/*
recursive-include grokcso/.mim/configs *.py *.yml
recursive-include grokcso/.mim/tools *.sh *.py
